
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - JBM Pizza</title>
    <script src="~/lib/jquery/dist/jquery.js"> </script>
   
</head>
hoem index
pizza index
pizza create
<body>
    <table border="2" width="100%" bgcolor="#FF4000">
        <tr>
            <td width="13%" align="center"><a asp-area="" asp-controller="Home" asp-action="Index"><font size="4"><font color="white"><b> Home</b></font></font></a><br></td>
            <td width="13%" align="center"><a asp-area="" asp-controller="Pizza" asp-action="Index"><font size="4"><font color="white"><b> Pizza</b></font></font></a><br></td>
            <td width="13%" align="center"><a asp-area="" asp-controller="Pizza" asp-action="Create"><font size="4"><font color="white"><b>Cart</b></font></font></a><br></td>
            <td width="13%" align="center"><a asp-area="" asp-controller="Customer" asp-action="Cart"><font size="4"><font color="white"><b>Cart</b></font></font></a><br></td>
            <td width="13%" align="center"><a asp-area="" asp-controller="Customer" asp-action="Login"><font size="4"><font color="white"><b> Login</b></font></font></a><br></td>
            <td width="13%" align="center"><a asp-area="" asp-controller="Customer" asp-action="Register"><font size="4"><font color="white"><b> SignUp</b></font></font></a><br></td>
            





        </tr>



    </table>






    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2019 - JBM Pizza</p>
        </footer>
    </div>

  

    @RenderSection("Scripts", required: false)
</body>
</html>
