

@{
    ViewData["Title"] = "Register";
}

<h2><font color="white">Register</font></h2>


<div class="container">
    <div class="row">

        <div class="col-sm-6">


            <div class="form-group">
                <label for="username"><font color="white">Username:</font></label>
                <input type="text" class="form-control" id="username" required />

            </div>
            <div class="form-group">
                <label for="password"><font color="white">Password:</font></label>
                <input type="password" class="form-control" id="password" required />
            </div>

            <div class="form-group">
                <label for="firstname"><font color="white">First Name:</font></label>
                <input type="text" class="form-control" id="firstname" required />
            </div>
            <div class="form-group">
                <label for="lastname"><font color="white">Last Name:</font></label>
                <input type="text" class="form-control" id="lastname" required />
            </div>


            <div class="form-group">
                <label for="address"><font color="white">Address:</font></label>
                <input type="text" class="form-control" id="address" required />
            </div>
            <div class="form-group">
                <label for="state"><font color=white>State:</font></label>
                <input type="text" class="form-control" id="state" required />
            </div>

            <div class="form-group">
                <label for="city"><font color="white">City:</font></label>
                <input type="text" class="form-control" id="city" required />
            </div>

            <div class="form-group">
                <label for="zipcode"><font color="white">Zipcode:</font></label>
                <input type="text" class="form-control" id="zipcode" required />
            </div>

            <div class="form-group">
                <label for="phoneno"><font color="white">Phoneno:</font></label>
                <input type="text" class="form-control" id="phoneno" />
            </div>




            <div>
                <button class="btn-hover color-register" id="create" type="submit">Create</button>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-8">
                    <label class="label-danger" hidden id="registerFailed"><font color="white">Username is taken</font></label>
                </div>
            </div>


        </div>
    </div>
</div>
<script>
    $('#create').click(function (e) {

        if ($('#username').val() !== "" && $('#password').val() !== "" && $('#firstname').val() !== "" && $('#lastname').val() !== "" && $('#address').val() !== "" && $('#state').val() !== "" && $('#city').val() !== "" && $('#zipcode').val() !== "" && $('#phoneno').val() !== "") {

   
        var url = "http://localhost:54241/api/Customers/";
        $.ajax({
            contentType: 'application/json',
            type: "POST",
            url: url,
            data: JSON.stringify({
                Username: $('#username').val(),
                Password: $('#password').val(),
                Firstname: $('#firstname').val(),
                Lastname: $('#lastname').val(),
                Address: $('#address').val(),
                State: $('#state').val(),
                City: $('#city').val(),
                Zip: $('#zipcode').val(),
                PhoneNo: $('#phoneno').val()
            }),
            success: function (data, textStatus, jqXHR) {
                 var url = "http://localhost:54241/api/Customers/" + $('#username').val() + ',' + $('#password').val();


                        $.ajax({
                            contentType: 'application/json',
                            type: "GET",
                            url: url,

                            success: function (data, textStatus, jqXHR) {
                                $.get("/Customer/Session/", { id: data.customerId, username: data.username }, function (data) {
                                    window.location.href = "http://localhost:54597/Home/Index";

                                });


                            },
                            error: function (jqXHR, textStatus, errorThrown) {

                                $("#registerFailed").show();
                                //display loginfailed message to user
                                $.get("/Customer/LoginFailed", {}, function (data) {


                                });

                            }
                        });
            },
            error: function (jqXHR, textStatus, errorThrown) {
               
                
            }
        });
       }
        else {
            alert("All fields must be fulfilled");
    }
        });
 
</script>

          
