
<br />
<table border="0" width="100%" height="10%">
    <tr>
        <td width="13%" align="center" bgcolor="dodgerblue"><b>Start Your Order</b></td>

    </tr>
</table>

<table border="1" width="100%" height="10%">
    <tr>


        <td width="10%" align="left"><a asp-area="" asp-controller="Menu" asp-action="Pizza"><img src="https://lh3.googleusercontent.com/iLeEXt24gQH5k2Qy3jGFmvnouL-KT9w7LcevzEoTnYqVV5w_Dnm12aUQXF_Uv1fOWqU19v1uoKnp-lCpgG9tmhAeo0ZBOoPslWKyMi7mlSzOw-d0cB8HLX2xXte5mqFTzdWKAYgVfQ=w220-h380"/><font size="4"><b> Pizza</b></font></a><br></td>
    </tr>
</table>

<table border="1" width="100%" height="10%">
    <tr>
        <td width="10%" align="left"><a asp-area="" asp-controller="Menu" asp-action="Wings"><img src="https://lh3.googleusercontent.com/VImAILCIEErW4qDALJI_SJR2eskWG4LA8v7h9jGPboJsM33cwMlJ-tNswojpdEgWiu-8pNIf80V5wdCPl1f1O4FX_Biio2z96m1cMdnLWdiw8tsTlYTcd_ETPdNSVvYrcb2MHOkSPw=w220-h480"/><font size="4"><b>Wings</b></font></a><br></td>

    </tr>
</table>


<table border="1" width="100%" height="10%">
    <tr>
        <td width="10%" align="left"><a asp-area="" asp-controller="Menu" asp-action="Desserts"><img src="https://lh3.googleusercontent.com/ygqwgTdDTepsFNGgM6qG9gtpKZhKCUnyAC_P6Uk56_dNTEsHliOGzL22jnu5oXS21Vj03WiT1FsfYOhXRC-QoQ9tqMuBK2PTtF_LhOmfr3dF4XUpRwIH6zeFh-7XjtHwV-P6Q_07Cg=w520-h280"/><font size="4"><b>Desserts</b></font></a><br></td>

    </tr>
</table>

