
@{
    ViewData["Title"] = "Pizza";
}


<h2></h2>
<table border="0" width="100%" height="10%">
    <tr>
        <td width="13%" align="center" bgcolor="dodgerblue"><b>Size</b></td>

    </tr>
</table>
<br />
<table border="0" width="100%" height="10%">
    <tr>
        <!-- make  button-->
        <td width="13%" align="center"><input type="radio" name="buildyourown" value="Small">Small<br /></td>
        <td width="13%" align="center"><input type="radio" name="buildyourown" value="Medium">Medium<br /></td>
        <td width="13%" align="center"><input type="radio" name="buildyourown" value="Large">Large<br /></td>
        <td width="13%" align="center"><input type="radio" name="buildyourown" value="Extralarge">Extra Large<br /></td>
        <td width="13%" align="center">
            <form asp-controller="Customer" asp-action="Cart">
                <input type="submit" value="Submit" />
            </form>
        </td>
    </tr>
</table>


<br />
<table border="0" width="100%" height="10%">
    <tr>
        <td width="13%" align="center" bgcolor="dodgerblue"><b>Specialty Pizza</b></td>

    </tr>
</table>

<table border="0" width="10%" height="10%">
    <tr>

        <td width="10%" align="center"><!--<a asp-area="" asp-controller="Customer" asp-action="Cart">--><img src="https://lh3.googleusercontent.com/ZvWp5Tz_0cOZ_Bsosv3AIjJmP4pgFH3ahtZ1m6SWchpyHXuSG_uCbr0-ef5f0v8U3d9bpJXfpQt1aO-FF78Db47fA7n0i4CAGP77e3aYUQ0Mt1YCaHj7MlbCTVWuCpc7XEn6X8xNRw=w1920-h1080" /><input type="radio" name="specialtypizza" value="Cheese"> Cheese<br><!--</a>--></td>
        <td width="10%" align="center"><!--<a asp-area="" asp-controller="Customer" asp-action="Cart">--><img src="https://lh3.googleusercontent.com/EfCVh6Wp6X7WIc3ifrXJDK510T-XpPnN3KTPJYiEyJGmQ_qptmHmFH-8EF0pR4bfN9k3Cc3obH62OJvf8C4YpFYVeXtzYfXhizEMaC0-KkAKHi0fOTGOGHTItsjstPBCq12kjRAULg=w290-h1000" /><input type="radio" name="specialtypizza" value="Deluxe">Deluxe<br><!--</a>--></td>
        <td width="10%" align="center"><!--<a asp-area="" asp-controller="Customer" asp-action="Cart">--><img src="https://lh3.googleusercontent.com/cUuyqlHItXPckQaLxQ4dd3FvmxH6BCcuCVez5hJrCfHK7ShQzg_V4rQOf7oogTpPSW59SiGcRyKyhOhjPZJtKhLfQs7aL6BnyCck-aRohlrOu-6mP5NKPzwzlGRXQWPDlX54SP29Iw=w300-h1080" /><input type="radio" name="specialtypizza" value="Pepperoni">Pepperoni<br /><!--</a>--></td>
        <td width="10%" align="center">
            <form asp-controller="Customer" asp-action="Cart">
                <input type="submit" value="Submit" />
            </form>
        </td>
    </tr>
</table>

<table border="0" width="100%" height="10%">
    <tr>
        <td width="13%" align="center" bgcolor="dodgerblue"><b>Build Your Own</b></td>

    </tr>
</table>
<br />



<br />



<table border="0" width="100%" height="10%">
    <tr>


        <td width="10%" align="center"><b>Toppings</b></td>


    </tr>
</table>
<br />

<table border="0" width="100%" height="10%">
    <tr>
        <!--create images with button to add DROPDOWN Toppings-->
        <td width="10%" align="center"><img src="https://lh3.googleusercontent.com/kg3u6NGjUjTXLR9wIhDhAbH51PB3RHaF5ofWg-hBBYVZYCLCypQCMVG4HPIfECpQlG15wIJC3y8WkYR2k3rbSZIeuYIjOM9jF8Es7HFwS4-D8pLnxu5npyGBEKJ-whB1B0F8D-YiMQ=w1920-h1080" /></td>
        <td width="10%" align="center"><img src="https://lh3.googleusercontent.com/HJzUHoi-NR9PgYSwBVIDvt9lq8AgTLcUPtJ3aGZ3BMMtyfYupSexMel1VcLFJLRefGhamIkf5pGxR6lrjtOa6Cwxxbn9ycbMM7-mjXy2OdxMa-9n2tZIHta4v2uxnFKFMmt0ZwD-VA=w720-h150" /></td>
        <td width="10%" align="center"><img src="https://lh3.googleusercontent.com/5B4QWD-rRdux0hnrAjLJYkSMZX9huruopS6sayJX3mYHoNUAltGvDAKept866ZN6LXjBwpeYAsiYwOYfbpzAAfGUazW4-WhzoA9poi-LykUHX21DWt6Tgk2h3g0fhda79sCq_ffMXw=w220-h780" /></td>
        <td width="10%" align="center"><img src="https://lh3.googleusercontent.com/xHt1CjBEyqOU8k-pTfasQP4tPovGcbeSRRQEtoopSJJzTp1bDO99ZYQb3hYQYVrrebFbwxYD5_x0zmGj4Gex769Wvj651gppxEO_gdriS0j9-LFAZb-TEJLBvjkfWkqbJjcrR5lvcQ=w220-h400" /></td>
        <td width="10%" align="center"><img src="https://lh3.googleusercontent.com/S17QH-086YMVgkrNp-r1KSP7cFVCyR5DsTZvZeA6EYFTPslTVKE-oi5jjOSvKxbnYczWxrtgV9qAwDG1EVvyPp9M9tWy0dPOeD9cf-5B8ZwCHUAr4KHQAfCqQ9Ewrl8haEIFTPAgzg=w220-h80" /></td>

        <td>
            <form asp-controller="Customer" asp-action="Cart">
                <select name="Toppings" size="5" multiple>
                    <option value="Topping1">Pineapples</option>"
                    <option value="Topping2">Bacon</option>"
                    <option value="Topping3">Veggies</option>"
                    <option value="Topping4">Mushroom</option>"
                    <option value="Topping5">Chicken</option>"
                </select>
                <br><br>
                <input type="submit" value="Submit">
            </form>
        </td>




    </tr>
</table>
<br />

<table border="0" width="100%" height="10%">
    <tr>


        <td width="10%" align="center"><b>Sauce</b></td>

    </tr>
</table>

<br />
<table border="0" width="100%" height="10%">
    <tr>
        <td width="10%" align="center"><img src="https://lh3.googleusercontent.com/DrLI0GbtIGYbjpfpLzXeMAogII83IPXJ-vI2DHKC4C0Z7P1OVBHhX1RmPFcMfj2owYai9EvVF9bV99ljOqZYdaaQ3_f4o0KGv3Ic3bJ1xSslMwFppFxVjVWvt3nr0KUC4yIWtvk2ag=w220-h210" /><input type="radio" name="buildyourown" value="Sauce">Spaghetti<br></td>
        <td width="10%" align="center"><img src="https://lh3.googleusercontent.com/45pV2F2qs5T6RLY2ZO13lLAgHKOVVQ7WPPv1uJh0kz51nsAvpElT0ogp5hg8_bdESa1TB2P_8uwDaDOFbYkncRVvafFIh7OQu8cBFsQJ4w2V5-XDZWTZf0JblRjBTvAWsZ5_ywSL3A=w220-h280" /><input type="radio" name="buildyourown" value="Sauce">BBQ<br></td>
        <td width="10%" align="center"><img src="https://lh3.googleusercontent.com/ltNZiqKPqSxzAZE2xL2i5REYKCA0856kTyK9S4VxQxdKI8ya_2VdZKeFeiaAppAxfkdXwsMSHL-fcrMfueXzPvmHR_yZkKS36ytxZZG1T9hWj4xsq1btgajzOpwx2E-IwFXYV0qtaw=w220-h180" /><input type="radio" name="buildyourown" value="Sauce">Alfredo<br></td>
        <td width="10%" align="center">
            <form asp-controller="Customer" asp-action="Cart">
                <input type="submit" value="Submit" />
            </form>
        </td>
    </tr>

</table>
