@model Entities.Order

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Order</h4>
<hr />
<div class="row" style="color:black;">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OrderId" class="control-label"></label>
                <input style="color:black;" asp-for="OrderId" readonly="readonly" class="form-control" />
                <span asp-validation-for="OrderId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerId" class="control-label"></label>
                <input asp-for="CustomerId" style="color:black;" readonly class="form-control" />
                <span asp-validation-for="CustomerId" class="text-danger"></span>
            </div>

            <div class="form-group">

                <input asp-for="IsDelivered" hidden />

            </div>
            <div class="form-group">
                <label asp-for="OrderDate" class="control-label"></label>
                <input style="color:black;" asp-for="OrderDate" readonly class="form-control" />
                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input style="background-color:white; color:black;" asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

