
@{

    ViewData["Title"] = "DeleteCustomer";

}



<h2>DeleteCustomer</h2>





<div class="container">

    <div class="row">

        <div class="col-sm-6">

            <h2>Delete a Person</h2>

            <div class="form-group">

                <label for="id">Id</label>

                <input type="text" class="form-control" id="id" />

            </div>

            <div>

                <button class="btn btn-default" id="deleteperson">Delete</button>

            </div>

            <div>

                <input type="text" class="form-control" id="deleteResult" />

            </div>

        </div>



    </div>

</div>



<script>



    $('#deleteperson').click(function (e) {

        $("#deleteResult").val("");

        var url = "http://localhost:54241/api/Customers/" + $("#id").val();



        $.ajax({

            contentType: 'application/json',

            type: "Delete",

            url: url,

            success: function (data, textStatus, jqXHR) {

                $("#deleteResult").val("Succeed");

                $("#deleteperson").val("");

            },

            error: function (jqXHR, textStatus, errorThrown) {

                $("#deleteResult").val(jqXHR.statusText);

            }

        });

    });



</script>