@model Entities.ViewModel
@{
    ViewData["Title"] = "GetPizzaInfo";
}

<h2>Create Pizza</h2>

<div class="container">
    <table border="0" width="100%" height="10%">
        <tr>
            <td width="13%" align="center" bgcolor="dodgerblue"><font color="white"><b>Size</b></font></td>
        </tr>

    </table>
    <br />

 </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-6">

                <div class="form-group">

                    <form id="toppingList"></form>

                    <div id="shoppingcart"></div>


                </div>
                <div>
                    <button class="btn btn-default" id="addPizza">Add Pizza</button>
                </div>

            </div>

        </div>
    </div>

    <script>
        var totalPrice = 0;
        $(document).ready(function (e) {
            var url = "http://localhost:54241/api/Pizzas/"
            //change to your url, same for other view.
            $.ajax({
                contentType: 'application/json',
                type: "GET",
                url: url,
                success: function (data, textStatus, jqXHR) {


                    var Id = 0;
                    //Size

                    $("#toppingList").append(`
                    <div class="container">
                     <table border="0" width="100%" height="10%">
                          <tr>
                                <td width="13%" align="center" bgcolor="dodgerblue"><font color="white"><b>Size</b></font></td>
                         </tr>
                    </table>
                    <br />`
                    );

                    for (var item of Object.values(data.sizes)) {

                        $("#toppingList").append(`<td width="13%" align="center"> <input id='size${++Id}' type='radio' name='size' value="${item.sizeName}" /> `);
                        $("#toppingList").append(`<label>${item.sizeName}($${item.price})</label> </td>`);

                    }

                    $('#size1').attr('checked', 'checked');
                    $("#toppingList").append(`</div>`);
                    totalPrice += 6.5;
                    sizeId = 0;

                    //Crust
                     $("#toppingList").append("<h2>Crust:</h2>");
                     $("#toppingList").append(`
                    <div class="container">
                     <table border="0" width="100%" height="10%">
                          <tr>
                                <td width="13%" align="center" bgcolor="dodgerblue"><font color="white"><b>Size</b></font></td>
                         </tr>
                    </table>
                    <br />`
                    );

                   
                    for (var item of Object.values(data.crusts)) {
                        $("#toppingList").append(`<input id='crust${++Id}' type='radio' name='crust' />`);
                        $("#toppingList").append(`<label>${item.crustName}($${item.price})</label>`);
                    }

                    $('#crust1').attr('checked', 'checked');
                    $("#toppingList").append(`</div>`);
                    totalPrice += 1.5;
                    sizeId = 0;


                    //Sauce

                      $("#toppingList").append("<h2>Sauce:</h2>");
                     $("#toppingList").append(`
                    <div class="container">
                     <table border="0" width="100%" height="10%">
                          <tr>
                                <td width="13%" align="center" bgcolor="dodgerblue"><font color="white"><b>Size</b></font></td>
                         </tr>
                    </table>
                    <br />`
                    );
                    $("#toppingList").append("<h2>Sauce:</h2>");
                    for (var item of Object.values(data.sauces)) {
                        $("#toppingList").append("<input type='radio' name='sauce' />");
                        $("#toppingList").append(`<label>${item.sauceName}($${item.price})</label>`);
                    }
                    console.log(data);


                    //Sauce Amount
                    $("#toppingList").append("<h2>Sauce Amount:</h2>");
                    for (var item of Object.values(data.sauceAmounts)) {
                        $("#toppingList").append("<input type='radio' name='sauceAmount' />");
                        $("#toppingList").append(`<label>${item.amount}($${item.price})</label>`);
                    }

                    //Cheese Amount
                    $("#toppingList").append("<h2>Cheese Amount:</h2>");
                    for (var item of Object.values(data.cheeseAmounts)) {
                        $("#toppingList").append("<input type='radio' name='cheeseAmount' />");
                        $("#toppingList").append(`<label>${item.amount}($${item.price})</label>`);
                    }

                    //Toppings

                    $("#toppingList").append("<h2>Toppings:</h2>");
                    for (var item of Object.values(data.toppings)) {
                        $("#toppingList").append("<input type='checkbox' />");
                        $("#toppingList").append(`<label>${item.toppingName}($${item.toppingPrice})</label>`);
                    }

                    //Total Price
                    $("#toppingList").append(`<h2>Total: ${totalPrice}</h2>`);





                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $("#getToppingResult").val(jqXHR.statusText);
                }
            });
        });

        $('#addPizza').click(function (e) {

            var radioValue = $("input[name='size']:checked").val();
            $("#shoppingcart").append("<p>" + "Size: " + radioValue + "</p>");


            console.log(radioValue);

        });

    </script>
