
<h2>Start Your Order</h2>

<table border="0" width="100%" height="10%">
    <tr>
        <!--<td width="13%" align="center"><a asp-area="" asp-controller="Menu" asp-action="Wings"><img src='https://lh3.googleusercontent.com/jNZl-T9B6gSWUiTkP1dXtipMVIb1JT6sCGJ6L48c3B0IVsW_xdnm19XxK9NjgE92RiDjY1iEeIc5CxI1ld6tR7YaKJnLkeT1IjNsxJbluenHpG7akSm1gjn1uhGEmScm2zak65oeJw=w2400'/></a></td>-->
        <!--<td width="13%" align="center"><a asp-area="" asp-controller="Menu" asp-action="Dessert"><img src='https://lh3.googleusercontent.com/ppBICw30PDunP6lSXYy4UnsYmEFX-VWUqj9-WLGmQ-w_pa_i7LRHt1GoaIEflFnf5xVn2aOcBoFpZeTNFVBVxpZ1V17NtTosUle3HOu22NYE3jOF6XvpjqXVag079_1xw81DMGT2xw=w2400'/></a></td>-->

        <td width="13%" align="center"><a asp-area="" asp-controller="Menu" asp-action="Pizza"><img src='https://lh3.googleusercontent.com/z8abMnx3UPXdvcHC8F044USQdb2dzVrEAC85h9H_pNNP_o85A9EtoMWfNnRL14t0YJISGLge1ztnV8KE5PHGtWN4f7ytEYLRzk4wsDKO5W1gM8hbW6K0us1rfRvA9GtPmNv_HIOqsA=w2400'/></a></td>
    </tr>
    </table>

