@{
    ViewData["Title"] = "Home Page";
}



<br />

<a asp-area="" asp-controller="Menu" asp-action="Pizza"><img src='https://lh3.googleusercontent.com/2IyKcj_49g1D2JYUlLtzPY4K1KWNfEksBpZANoP1jGT_RKRdIYTZZjNfyUO0vT9qywXyuDB5081Qd8PAClE7I6gbPKOyVcaultrG7T5tAm4lxXhe6jD02qM9DMLQFrGlzs8YWOHm=w2400' alt="Image" height="95%" width="100%" /></a>

<table border="0" width="100%" height="10%">
    <tr>
        <td width="13%" align="center"><img src='https://lh3.googleusercontent.com/jPUZ1gCL7FTbhLwTB-usbibGHbBeXY13LWSm0ooQa7zD-xuOdbCav2OuAQS4ooiQF6ruA6SGHkYKKQZ0bIPO3rZxxmM5fs2n7AOpNGks5YErsJi35daSnZaL1G2aPN30T7r68IfB=w2400' />
        </td>
        <td width="13%" align="center"><img src='https://lh3.googleusercontent.com/9NUqvhLt-E-Z3Y271ZFAMx1NiuNRqF9JHRZmCG9fEPNa6Elwlzh-VoSLggGdKXMQuZTAxmM3-NIyy8vHDsmASPOldXHAyOv1mXieKj_jUxw412NyWQggVZACg2iPmzSmGnhgJX8x1A=w2400' /></td>
        <td width="13%" align="center"></td>
        <td width="13%" align="center"></td>
        <td width="13%" align="center"></td>
        <td width="13%" align="center"></td>
        <td width="13%" align="center"></td>
    </tr>
</table>

