@{
    ViewData["Title"] = "Home Page";
}
<br>
    <table border="0" width="100%">
        <tr>
            <td width="13%" align="center"><img src="https://lh3.googleusercontent.com/VhInumCJkdpAPSqn_7jytRg4ib8-tn4W-8WhqsT6YQctorpNU6I1Dfh_aIYAP0sIG1XwiQwiLbVYOpaNr_tkp0Vf67E4vmCcnp5mEvLeapgZrEv8Z2GgbSnB6bu7yu1SIy9CS0BveQ=w3920-h1080" /></td>

           
        </tr>
    </table>

    <table>
        <tr>
        

            <td><img src="https://lh3.googleusercontent.com/HgLR8btOTHePaaS_39gtuoBgdgkvMYgnkpY2zmquC6HArFNWi6KEmEIAJyMrvJJbl5Ou1C_D79xqSktbcGAk-gxJLh4-X9DvMAbP3CkqzyHyWfK_GlA895qn3KwpR7-71dqv9XJP5w=w1920-h1080" />
            <td><img src="https://lh3.googleusercontent.com/3lgyTeywW_zFwmwwgj01eok9dTTEn7k-qczI3ursc-O4X9qZXm16ffJGmPCKK-Z3h3kmP_uaDfytWhcKpTmBeLdYdq4q9_rqn4ryGhk4H9KFGpbwX8demvaY2dR_tget2Yu8-qoHjQ=w1920-h1080" /></td>
        </tr>
    </table>
