@{
    ViewData["Title"] = "Home Page";
}

<br />


<table border="0" width="100%" height="10%">
    <tr>
        
       
        <td width="13%" align="center"></td>
        <td width="13%" align="center"></td>
        <td width="13%" align="center"></td>
        <td width="13%" align="center"></td>
    </tr>
</table>
